/*     process     */
.process {
	padding: 56px;
	margin-top: 72px;
	background-color: #fff;
	box-sizing: border-box;
	.process-tabs {
		width: 570px;
		margin: 0 auto;
		li {
			float: left;
			cursor: pointer;
			p {
				color: #9b9b9c;
				text-align: center;
			}
			&:nth-of-type(2) {
				margin: 0 220px;
				position: relative;
				&::after {
					content: "";
					display: block;
					width: 200px;
					height: 2px;
					background-color: #efefef;
					position: absolute;
					left: -210px;
					top: 20px;
				}
				&::before {
					content: "";
					display: block;
					width: 200px;
					height: 2px;
					background-color: #efefef;
					position: absolute;
					left: 50px;
					top: 20px;
				}
			}
			&.active span {
				background-color: #e2214b;
				color: #fff;
			}
			&.active p {
				color: #272727;
			}
		}
		span {
			display: block;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: #efefef;
			color: #9b9b9c;
			font-size: 24px;
			line-height: 42px;
			text-align: center;
			font-weight: bold;
		}
		p {
			color: #272727;
			font-weight: bold;
			font-size: 14px;
			margin-top: 5px;
		}
	}
	.process-items {
		margin-top: 55px;
		color: #9b9b9c;
		> li {
			display: none;
			&.active {
				display: block;
			}
		}
		.icon-right {
			cursor: pointer;
		}
		.item-cart {
			> h1 {
				margin-bottom: 40px;
				text-align: center;
				color: #272727;
			}
		}
		.table-header {
			color: #272727;
			font-size: 14px;
			font-weight: bold;
			.table-cell:nth-of-type(1) {
				text-align: left;
				padding-left: 44px;
				i {
					color: #9b9b9c;
					margin-right: 30px;
					margin-left: -30px;
				}
				.choice {
					color: green !important;
				}
			}
		}
		.table-cell {
			padding: 6px;
		}
		.table-content {
			.icon-right {
				font-size: 24px;
				line-height: 125px;
				margin-right: 20px;
			}
			.choice {
				color: green;
			}
			.table-cell {
				padding: 80px 14px;
				font-size: 18px;
				font-weight: bold;
			}
			.sub,
			.plus {
				display: inline-block;
				width: 20px;
				height: 20px;
				background-color: #ebebeb;
				color: #9b9b9c;
				font-size: 22px;
				line-height: 20px;
			}
			.num {
				font-size: 14px;
				margin: 0 12px;
				vertical-align: top;
			}
			.remove {
				i {
					color: #9b9b9c;
				}
			}
		}
		.table-content .table-row .table-cell:nth-of-type(1) {
			padding: 36px 14px;
			.goods-img {
				margin-right: 30px;
			}
			h3 {
				color: #272727;
				font-size: 14px;
				font-weight: bold;
				line-height: 18px;
				margin: 22px 0 5px;
			}
			p {
				font-size: 12px;
				text-align: left;
				font-weight: normal;
				span {
					font-weight: bold;
				}
			}
		}
		.pay-info {
			padding-top: 30px;
			.table-row {
				border: 0;
			}
			h3 {
				color: #272727;
				text-align: left;
				font-size: 18px;
				margin-bottom: 40px;
			}
			.area {
				select {
					width: 85%;
					padding: 5px 10px;
					border: 1px solid #9b9b9c;
					color: #9b9b9c;
					font-size: 12px;
					display: block;
					margin: 20px 0;
					outline: 0;
				}
			}
			li:nth-of-type(1) {
				a {
					display: block;
					width: 28px;
					height: 34px;
					padding: 0 22px;
					background-color: #272727;
					line-height: 34px;
					transition: all 0.3s;
					&:hover {
						background-color: #db2559;
					}
				}
			}
			li:nth-of-type(2) {
				text-align: left;
				input {
					display: block;
					width: 85%;
					height: 17px;
					padding: 6px 10px;
					color: #9b9b9c;
					border: 1px solid #9b9b9c;
					outline: 0;
					margin: 30px 0 30px;
				}
				a {
					display: block;
					border: 2px solid #272727;
					line-height: 30px;
					padding: 0 22px;
					color: #272727;
					width: 70px;
					font-size: 14px;
					transition: all 0.3s;
					&:hover {
						color: #fff;
						background-color: #272727;
					}
				}
			}
			li:nth-of-type(3) {
				.payment {
					border: 2px solid #272727;
					padding: 15px 13px 19px;
					h1 {
						color: #272727;
						font-size: 18px;
						font-weight: bold;
						margin-bottom: 30px;
						text-align: left;
					}
					.total,
					.send {
						text-align: left;
						span:nth-of-type(1) {
							color: #272727;
							text-align: left;
							font-size: 14px;
							margin-right: 280px;
						}
						span:nth-of-type(2) {
							color: #9b9b9c;
							font-weight: bold;
							font-size: 14px;
						}
					}
					> p {
						text-align: right;
						color: #e2214b;
						font-weight: bold;
						font-size: 18px;
						border-top: 1px solid #272727;
						margin: 20px 0;
						padding-top: 20px;
					}
					a {
						display: block;
						width: 28px;
						height: 34px;
						padding: 0 22px;
						background-color: #272727;
						line-height: 34px;
						transition: all 0.3s;
						margin: 0 auto;
						&:hover {
							background-color: #db2559;
						}
					}
				}
			}
		}

		/*                account                 */
		.item-account {
			> h1 {
				text-align: center;
				color: #272727;
			}
			> h5 {
				text-align: center;
				margin: 20px 0 80px;
			}
			.table-row {
				border: 0;
			}
			.table-cell:nth-of-type(1) {
				h1 {
					text-align: left;
					color: #272727;
					font-size: 28px;
				}
				input {
					display: block;
					width: 85%;
					color: #9b9b9c;
					padding: 5px 12px;
					height: 17px;
					font-size: 12px;
					outline: 0;
					margin: 30px 0;
					border: 1px solid #9b9b9c;
				}
				textarea {
					display: block;
					outline: 0;
					padding: 10px;
					margin-bottom: 30px;
				}
				.ship-addr {
					a {
						display: block;
						color: #272727;
						font-size: 28px;
						font-weight: bold;
						text-align: left;
						span {
							display: inline-block;
							width: 15px;
							height: 15px;
							border: 2px solid #182342;
							position: relative;
							&:after {
								content: "";
								position: absolute;
								display: block;
								border: 3px solid #fff;
								// background-color: #e2214b;
								width: 9px;
								height: 9px;
							}
						}
					}
				}
			}
			div.table-cell:nth-of-type(2) {
				border: 1px solid #e1e1e1;
				padding: 20px 26px 28px;
				h1,
				h2 {
					color: #272727;
					text-align: left;
					font-size: 28px;
					margin-bottom: 25px;
				}
				h2 {
					border-bottom: 2px double #ebebeb;
					padding-bottom: 20px;
				}
				.order-list {
					margin-bottom: 40px;
					li p:nth-of-type(1) {
						text-align: left;
					}
					li p:nth-of-type(2) {
						text-align: right;
					}
					.table-row {
						border-bottom: 1px solid #ebebeb;
						padding: 20px 0;
					}
					.th {
						border-bottom: 2px double #ebebeb;
					}
				}
				.payment {
					a {
						display: block;
						color: #272727;
						font-size: 18px;
						font-weight: bold;
						text-align: left;
						span {
							display: inline-block;
							width: 15px;
							height: 15px;
							border: 2px solid #182342;
							position: relative;
							vertical-align: middle;
							margin-right: 15px;
							&:after {
								content: "";
								position: absolute;
								display: block;
								border: 3px solid #fff;
								background-color: #e2214b;
								width: 9px;
								height: 9px;
							}
						}
					}
					p {
						text-align: left;
						font-size: 12px;
						color: #9b9b9c;
						margin: 10px 0 20px;
					}
					.paypal-links {
						border: 1px solid #182342;
						width: 327px;
						position: relative;
						padding: 28px 0 17px 29px;
						text-align: left;
						margin-top: 40px;
						a {
							margin-right: 31px;
							display: inline-block;
						}
						.title {
							position: absolute;
							left: 20px;
							top: -10px;
							width: 86px;
							height: 22px;
							text-align: center;
							background-color: #fff;
						}
					}
					.place-order {
						color: #fff;
						background-color: #272727;
						width: 200px;
						height: 34px;
						line-height: 34px;
						font-size: 14px;
						text-align: center;
						transition: all 0.3s;
						margin: 50px 0 0 160px;
						&:hover {
							background-color: #e2214b;
						}
					}
				}
			}
		}
		/*                complete                 */
		.item-complete {
			.message {
				width: 100%;
				height: 42px;
				line-height: 42px;
				text-align: center;
				font-size: 14px;
				border: 1px solid #e1e1e1;
				color: #66bb6a;
			}
			.order-infomation {
				margin: 60px 0;
				.table-cell {
					border: 1px solid #e1e1e1;
					padding: 43px 0;
				}
				h5 {
					color: #272727;
					font-size: 18px;
				}
				p {
					color: #9b9b9c;
					font-size: 12px;
				}
			}
			.order-list {
				margin-bottom: 40px;
				font-size: 14px;
				li p:nth-of-type(1) {
					text-align: left;
				}
				li p:nth-of-type(2) {
					text-align: right;
				}
				.table-row {
					border-bottom: 1px solid #ebebeb;
					padding: 20px 0;
				}
				.th {
					border-bottom: 2px double #ebebeb;
				}
			}
			.order-detail {
				margin-right: 10%;
				h1 {
					color: #272727;
					font-size: 28px;
					text-align: left;
				}
			}
			.right {
				p {
					text-align: left;
					color: #272727;
					font-size: 14px;
					line-height: 24px;
				}
				h1 {
					color: #272727;
					font-size: 28px;
					text-align: left;
					margin-bottom: 20px;
				}
				.row {
					margin: 40px 0;
				}
			}
		}
	}
}
