.contact-banner {
	text-align: center;
}
.contact {
	margin: 72px 0;
	.transport {
		width: 60%;
		h1 {
			color: #272727;
			font-size: 28px;
			margin-bottom: 20px;
		}
		p {
			color: #9b9b9c;
			margin-bottom: 52px;
			font-size: 14px;
		}
		input {
			display: block;
			outline: 0;
			border: 1px solid #9b9b9c;
			padding: 9px 14px;
			margin-bottom: 29px;
			width: 100%;
			color: #9b9b9c;
			background-color: #efefef;
			font-size: 12px;
			box-sizing: border-box;
		}
		textarea {
			background-color: #efefef;
			padding: 10px 14px;
			outline: 0;
			border: 1px solid #9b9b9c;
		}
		.submit {
			display: block;
			color: #fff;
			background-color: #272727;
			width: 124px;
			line-height: 36px;
			font-size: 12px;
			text-align: center;
			margin-top: 29px;
			transition: all 0.3s;
			&:hover {
				background-color: #d90d4e;
			}
		}
	}
	.location {
		width: 40%;
		padding-left: 40px;
		box-sizing: border-box;
		h1 {
			color: #272727;
			font-size: 28px;
			margin-bottom: 20px;
		}
		#map {
			width: 100%;
			height: 400px;
		}
	}
}
