@charset "UTF-8";
@keyframes opsAnimate {
  0% {
    top: -100px;
  }
  90% {
    top: 120px;
  }
  98% {
    top: 90px;
  }
  100% {
    top: 100px;
  }
}

/*  轮播图  */

@keyframes movek {
  from {
    top: 120px;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@keyframes movem {
  from {
    top: 240px;
    opacity: 0;
  }
  to {
    top: 200px;
    opacity: 1;
  }
}

@keyframes movep {
  from {
    top: -95px;
    opacity: 0;
  }
  to {
    top: -135px;
    opacity: 1;
  }
}

@keyframes moveon {
  from {
    top: 490px;
    opacity: 0;
  }
  to {
    top: 450px;
    opacity: 1;
  }
}

@keyframes moveh {
  from {
    top: 540px;
    opacity: 0;
  }
  to {
    top: 500px;
    opacity: 1;
  }
}

@keyframes movea {
  from {
    top: 620px;
    opacity: 0;
  }
  to {
    top: 580px;
    opacity: 1;
  }
}

.slider {
  width: 100%;
  height: 797px;
  overflow: hidden;
}

.slider ul {
  height: 100%;
}

.slider li {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider li div {
  position: absolute;
  opacity: 0;
}

.slider .layer-k {
  right: 300px;
  top: 80px;
  animation: movek 0.5s linear 0.5s forwards;
  width: 531px;
  height: 620px;
}

.slider .layer-p {
  right: 500px;
  top: -135px;
  animation: movep 0.5s linear 1s forwards;
}

.slider .layer-on {
  right: 400px;
  top: 450px;
  animation: moveon 0.5s linear 1.5s forwards;
}

.slider .layer-m {
  left: 280px;
  top: 200px;
  animation: movem 0.5s linear forwards;
}

.slider h1 {
  position: absolute;
  color: #fff;
  font-size: 50px;
  top: 500px;
  left: 280px;
  opacity: 0;
  animation: moveh 0.5s linear forwards 2s;
}

.slider a {
  opacity: 0;
  display: block;
  position: absolute;
  padding: 10px 20px;
  border: 2px solid #fff;
  top: 580px;
  left: 280px;
  animation: movea 0.5s linear forwards 2.5s;
}

.slider a:hover {
  background-color: #fff;
  color: #e2214b;
}

/*  promo  */

.promo {
  margin-top: -63px;
}

.promo .promo-item {
  position: relative;
  transition: all 0.3s;
}

.promo .promo-item img {
  vertical-align: bottom;
}

.promo .promo-item .border-top-bottom::before {
  content: "";
  display: block;
  top: 78.5%;
  left: 94%;
  background-color: #fff;
  position: absolute;
  height: 7px;
  width: 0px;
  transition: all 0.3s;
}

.promo .promo-item .border-top-bottom::after {
  content: "";
  display: block;
  top: 10%;
  left: 94%;
  background-color: #fff;
  position: absolute;
  height: 7px;
  width: 0px;
  transition: all 0.3s;
}

.promo .promo-item .border-left-right::before {
  content: "";
  display: block;
  top: 80%;
  left: 6.7%;
  background-color: #fff;
  position: absolute;
  height: 0px;
  width: 7px;
  transition: all 0.3s;
}

.promo .promo-item .border-left-right::after {
  content: "";
  display: block;
  top: 80%;
  left: 93%;
  background-color: #fff;
  position: absolute;
  height: 0px;
  width: 7px;
  transition: all 0.3s;
}

.promo .promo-item .promo-title {
  position: absolute;
  left: 7%;
  top: 10%;
  color: #fff;
  font-size: 30px;
  width: 200px;
}

.promo .promo-item .promo-links {
  position: absolute;
  bottom: 8%;
  left: 7%;
}

.promo .promo-item .promo-links a {
  font-weight: bold;
  margin-right: 20px;
  line-height: 30px;
  transition: all 0.5s;
}

.promo .promo-item .promo-links a:hover {
  color: #e2214b;
}

.promo .promo-item .promo-links a i {
  font-size: 10px;
  margin-left: 7px;
}

.promo .promo-item:hover {
  transform: translate(-1px, -15px);
  box-shadow: 0px 6px 40px #333;
}

.promo .promo-item:hover .border-top-bottom::before {
  left: 7%;
  width: 87%;
}

.promo .promo-item:hover .border-top-bottom::after {
  left: 55%;
  width: 39%;
}

.promo .promo-item:hover .border-left-right::before {
  top: 50%;
  height: 30%;
}

.promo .promo-item:hover .border-left-right::after {
  top: 10%;
  height: 70%;
}

/*  product  */

.product-list {
  position: relative;
  left: -300px;
  width: 600%;
}

.product-item {
  margin-right: 30px;
  float: left;
  transition: all 0.3s;
}

.product-item .product-img {
  position: relative;
}

.product-item .product-img img {
  vertical-align: bottom;
}

.product-item .product-img .cover {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.product-item .product-img .cover .product-ops {
  position: absolute;
  top: 100px;
  left: 70px;
  opacity: 0;
}

@keyframes ops {
  0% {
    top: -100px;
  }
  90% {
    top: 115px;
  }
  96% {
    top: 96px;
  }
  100% {
    top: 100px;
  }
}

.product-item .product-img .cover .product-ops a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 20px;
}

.product-item .product-img .cover .product-ops a i {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  vertical-align: bottom;
  transition: all 0.3s;
  transform-origin: center;
}

.product-item .product-img .cover .size-color {
  box-sizing: border-box;
  padding: 10px 19px 15px;
  width: 100%;
  height: 70px;
  background-color: #f7f7f9;
  position: absolute;
  bottom: -70px;
  transition: all 0.3s;
}

.product-item .product-img .cover .size-color .color {
  margin-top: 10px;
}

.product-item .product-img .cover .size-color .color li {
  margin-left: 7px;
}

.product-item .product-img .cover .size-color .size ul {
  padding-top: 3px;
}

.product-item .product-img .cover .size-color .size li {
  margin-left: 10px;
  font-size: 13px;
  color: #9b9b9c;
}

.product-item .product-img .cover .size-color p, .product-item .product-img .cover .size-color ul {
  font-size: 16px;
  color: #212121;
  float: left;
}

.product-item .product-img .cover .size-color ul {
  margin-left: 20px;
}

.product-item .product-img .cover .size-color ul li {
  float: left;
}

.product-item .product-info {
  padding: 16px;
  background-color: #fff;
}

.product-item .product-info .info-top {
  color: #272727;
  font-size: 18px;
  font-weight: bold;
}

.product-item .product-info .info-top h3 {
  float: left;
  line-height: 30px;
  transition: all 0.5s;
  cursor: pointer;
}

.product-item .product-info .info-top h3:hover {
  color: #e2214b;
}

.product-item .product-info .info-top p {
  float: right;
}

.product-item .product-info .info-bottom {
  color: #9b9b9c;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.product-item .product-info .info-bottom a {
  color: #9b9b9c;
  line-height: 30px;
  transition: all 0.5s;
}

.product-item .product-info .info-bottom a:hover {
  color: #e2214b;
}

.product-item .product-info .info-bottom .ratting {
  float: right;
}

.product-item .product-info .info-bottom .ratting i {
  font-size: 12px;
  position: relative;
  top: 5px;
}

.product-item .product-info .info-bottom .ratting i.ratactive {
  color: #eabe12;
}

.product-item:hover {
  box-shadow: 0 0 15px #444;
}

.product-item:hover .cover .size-color {
  bottom: 0;
}

.product-item:hover .cover .product-ops {
  opacity: 1;
  animation: ops 0.5s;
}

.product-item:hover .cover {
  background-color: rgba(211, 13, 76, 0.7);
}

.product {
  margin-top: 112px;
  text-align: center;
}

.product .product-tab {
  display: inline-block;
}

.product .product-tab li {
  padding: 0 50px;
  position: relative;
  float: left;
}

.product .product-tab li a {
  font-size: 28px;
  color: #9b9b9c;
  font-weight: bold;
}

.product .product-tab li.active a {
  color: #272727;
}

.product .product-tab li:nth-of-type(2) {
  padding: 0 50px;
}

.product .product-tab li:nth-of-type(2)::before {
  content: "";
  display: block;
  height: 4px;
  width: 30px;
  background-color: #e2214b;
  position: absolute;
  left: -15px;
  top: 50%;
}

.product .product-tab li:nth-of-type(2)::after {
  content: "";
  display: block;
  height: 4px;
  width: 30px;
  background-color: #e2214b;
  position: absolute;
  right: -15px;
  top: 50%;
}

.product .product-slider {
  padding-top: 100px;
  position: relative;
}

.product .product-slider .slider-container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
}

.product .product-slider .slider-control {
  position: absolute;
  top: 55%;
  width: 100%;
}

.product .product-slider .slider-control button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

.product .product-slider .slider-control .next {
  float: right;
  margin-right: 160px;
}

.product .product-slider .slider-control .prev {
  float: left;
  margin-left: 160px;
}

.product .product-slider .slider-control i {
  font-size: 30px;
  color: #9b9b9c;
}

.product .product-slider .slider-control .icon-right {
  font-size: 32px;
}

/*    modal   */

.product-modal {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  background-color: rgba(117, 117, 117, 0.5);
}

.product-modal .modal-container {
  margin: 100px auto;
  font-size: 14px;
  color: #757575;
  background-color: #fff;
  position: relative;
}

.product-modal .modal-close {
  position: absolute;
  display: block;
  right: -15px;
  top: -15px;
}

.product-modal .modal-close i {
  font-size: 40px;
  color: #d90d4e;
  vertical-align: top;
}

.product-modal .modal-info {
  width: 477px;
  padding: 30px 46px 40px;
  border-right: 1px solid #ebebeb;
}

.product-modal .modal-info h2 {
  font-size: 28px;
  font-weight: bold;
}

.product-modal .modal-info .categories {
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.product-modal .modal-info .ratting {
  margin-bottom: 50px;
}

.product-modal .modal-info .ratting>div {
  position: relative;
  top: 10px;
}

.product-modal .modal-info .tabs li {
  cursor: pointer;
  padding: 0 8px 9px 0;
  float: left;
  color: #9b9b9c;
  margin-right: 50px;
  transition: all 0.3s;
}

.product-modal .modal-info .tabs li.active {
  color: #272727;
  border-bottom: 3px solid #e2214b;
}

.product-modal .modal-info .tabs li:hover {
  color: #272727;
}

.product-modal .modal-info .tab-items {
  margin-top: 15px;
  color: #9b9b9c;
}

.product-modal .modal-info .tab-items>li {
  display: none;
}

.product-modal .modal-info .tab-items>li.active {
  display: block;
}

.product-modal .modal-info .tab-items p {
  font-weight: 300;
  line-height: 24px;
}

.product-modal .modal-info .tab-items .desc ul {
  list-style: disc;
  margin-left: 50px;
}

.product-modal .modal-info .tab-items .desc ul li {
  width: 200px;
  float: left;
}

.product-modal .modal-info .tags a {
  display: inline-block;
  background-color: #272727;
  padding: 10px 20px;
}

.product-modal .modal-info .comment li {
  margin-top: 10px;
  list-style: none;
  border-bottom: 1px solid #9b9b9c;
}

.product-modal .modal-info .comment .comment-content {
  margin-left: 20px;
  width: 387px;
}

.product-modal .modal-info .comment .comment-content p {
  margin: 10px 0;
}

.product-modal .modal-info .review-form {
  margin-top: 50px;
}

.product-modal .modal-info .review-form h2 {
  color: #272727;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 50px;
}

.product-modal .modal-info .review-form input {
  border: 1px solid #9b9b9c;
  width: 180px;
  color: #9b9b9c;
  font-size: 12px;
  padding: 7px 14px;
  outline: 0;
}

.product-modal .modal-info .review-form .rat {
  margin-top: 30px;
  margin-bottom: 10px;
}

.product-modal .modal-info .review-form .rat div {
  margin-right: 20px;
  cursor: pointer;
}

.product-modal .modal-info .review-form .rat div i {
  transition: all 0.3s 0.5s;
}

.product-modal .modal-info .review-form .rat div:hover i {
  color: #e5c024;
}

.product-modal .modal-info .review-form .submit {
  margin-top: 20px;
  display: block;
  width: 150px;
  height: 36px;
  background-color: #272727;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  transition: all 0.3s;
}

.product-modal .modal-info .review-form .submit:hover {
  background-color: #d90d4e;
}

.product-modal .modal-info .color-size {
  margin: 30px 0;
  color: #272727;
  font-size: 16px;
}

.product-modal .modal-info .color-size p {
  margin-bottom: 15px;
}

.product-modal .modal-info .color-size i {
  font-size: 34px;
}

.product-modal .modal-info .color-size>div {
  margin-right: 80px;
}

.product-modal .modal-info .price {
  margin: 50px 0;
}

.product-modal .modal-info .price p {
  color: #e2214b;
  font-size: 36px;
}

.product-modal .modal-info .price p span {
  color: #9b9b9c;
  font-size: 18px;
  font-weight: bold;
  text-decoration: line-through;
}

.product-modal .modal-info .cart input {
  margin: 20px;
  font-size: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  width: 54px;
  height: 45px;
  border: 1px solid #9b9b9c;
  outline: 0;
}

.product-modal .modal-info .cart .num {
  margin-right: 50px;
}

.product-modal .modal-info .cart .add-to {
  position: relative;
  top: 25px;
  padding: 10px 20px;
  background-color: #272727;
  color: #fff;
  text-align: center;
}

.product-modal .modal-info .cart .add-to i {
  margin-right: 10px;
}

.product-modal .modal-img {
  padding: 30px 40px;
}

.product-modal .modal-img li {
  float: left;
}

.product-modal .modal-img .preview {
  margin: 0 50px;
}

.product-modal .modal-img .preview li {
  display: none;
  width: 366px;
  height: 470px;
}

.product-modal .modal-img .preview li img {
  width: 100%;
  height: 100%;
}

.product-modal .modal-img .preview li.active {
  display: block;
}

.product-modal .modal-img .img-tabs li {
  width: 111px;
  height: 107px;
}

.product-modal .modal-img .img-tabs li img {
  width: 100%;
  height: 100%;
}

.product-modal .modal-img .img-tabs li.active {
  border: 2px solid #9b9b9c;
}

/*  offers  */

.offers {
  margin-top: 150px;
}

.offers .offers-left {
  margin-right: 20px;
}

.offers .offers-left .left-top {
  margin-bottom: 26px;
}

.offers .offers-left .left-top .fl {
  width: 370px;
  height: 300px;
  background: url("../img/offers/1.jpg") no-repeat;
  position: relative;
  transition: all 0.5s;
}

.offers .offers-left .left-top .fl:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px #333;
}

.offers .offers-left .left-top .fl .left-top-text {
  width: 65px;
  height: 100px;
  color: #fff;
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.offers .offers-left .left-top .fl .left-top-text span {
  font-size: 14px;
}

.offers .offers-left .left-top .fl .left-top-text h1 {
  font-weight: 800;
}

.offers .offers-left .left-top .fr {
  width: 370px;
  height: 300px;
  background: url("../img/offers/2.jpg") no-repeat;
  position: relative;
  transition: all 0.5s;
}

.offers .offers-left .left-top .fr:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px #333;
}

.offers .offers-left .left-top .fr .left-top-text {
  width: 300px;
  height: 100px;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 20px;
}

.offers .offers-left .left-top .fr .left-top-text span {
  font-size: 14px;
  margin-left: 40px;
}

.offers .offers-left .left-top .fr .left-top-text h1 {
  font-size: 77px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;
}

.offers .offers-left .left-top .fr .left-top-text button {
  cursor: pointer;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 6px 18px;
  position: relative;
  top: 50px;
  left: 130px;
  transition: all 0.3s;
}

.offers .offers-left .left-top .fr .left-top-text button:hover {
  color: red;
  background-color: #fff;
}

.offers .offers-left .left-bottom {
  width: 770px;
  height: 300px;
  background: url("../img/offers/3.jpg");
  position: relative;
  transition: all 0.5s;
}

.offers .offers-left .left-bottom:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px #333;
}

.offers .offers-left .left-bottom .left-bottom-text {
  width: 100px;
  position: absolute;
  left: 20px;
  top: 100px;
}

.offers .offers-left .left-bottom .left-bottom-text span {
  font-size: 18px;
  font-weight: bold;
  color: #212121;
}

.offers .offers-left .left-bottom .left-bottom-text h1 {
  color: #fff;
  font-size: 36px;
  margin-top: 10px;
}

.offers .offers-left .left-bottom .left-bottom-text button {
  cursor: pointer;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 6px 25px;
  position: relative;
  top: 50px;
  left: 0px;
  transition: all 0.3s;
}

.offers .offers-left .left-bottom .left-bottom-text button:hover {
  color: red;
  background-color: #fff;
}

.offers .offers-right {
  position: relative;
  width: 370px;
  height: 630px;
  background: url("../img/offers/4.jpg") no-repeat;
  transition: all 0.5s;
}

.offers .offers-right:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px #333;
}

.offers .offers-right .right-text {
  width: 255px;
  height: 300px;
  position: absolute;
  left: 45px;
  top: 35px;
}

.offers .offers-right .right-text .onsale {
  display: inline-block;
  background-color: #e2214b;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 2px;
}

.offers .offers-right .right-text h1 {
  margin: 20px 0;
  line-height: 36px;
  font-size: 36px;
}

.offers .offers-right .right-text p {
  color: #9b9b9c;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.offers .offers-right .right-text button {
  cursor: pointer;
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  padding: 6px 25px;
  position: relative;
  top: 20px;
  left: 0px;
  transition: all 0.3s;
}

.offers .offers-right .right-text button:hover {
  color: #fff;
  background-color: #000;
}

/*  活动  */

.sale-banner {
  height: 415px;
  margin-top: 100px;
}

.sale-banner>div {
  width: 50%;
  height: 100%;
}

.sale-banner .banner-item-l {
  background: url("../img/banner/1.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}

.sale-banner .banner-item-l span {
  display: block;
  width: 76px;
  height: 26px;
  padding: 0 5 2 10px;
  box-sizing: border-box;
  background-color: #fff;
  color: #c7444a;
  border-radius: 2px;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 50px auto 20px;
}

.sale-banner .banner-item-l h2 {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.sale-banner .banner-item-l h1 {
  font-size: 46px;
  text-align: center;
  font-weight: 400;
}

.sale-banner .banner-item-l a:hover {
  color: red;
  background-color: #fff;
}

.sale-banner .banner-item-r {
  background: url("../img/banner/2.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}

.sale-banner .banner-item-r h2 {
  font-size: 18px;
  margin: 35px auto 5px;
  text-align: center;
}

.sale-banner .banner-item-r h1 {
  font-size: 72px;
  text-align: center;
}

.sale-banner .banner-item-r h3 {
  font-size: 14px;
  text-align: center;
}

.sale-banner .banner-item-r a:hover {
  color: red;
  background-color: #fff;
}

.sale-banner .sale-info {
  width: 470px;
  margin: 0 auto;
}

.sale-banner .sale-info p {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  margin: 35px 0;
}

.sale-banner .sale-info a {
  display: block;
  width: 150px;
  height: 34px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 34px;
  margin: 0 auto;
  transition: all 0.3s;
}

/*  热销  */

.hot {
  margin-top: 130px;
}

.hot .hot-title {
  font-size: 28px;
  font-weight: bold;
  color: #212121;
  text-align: center;
  margin: 50px 0;
}

.hot .product-list {
  left: 0;
  width: 1200px;
  margin: 0 auto;
}

.hot .more {
  width: 1170px;
  height: 60px;
  margin: 150px 0;
  background-color: #fff;
}

.hot .more a {
  width: 100%;
  height: 100%;
  display: block;
  color: #e2214b;
  font-size: 50px;
  text-align: center;
  line-height: 30px;
}

/*  blog  */

.blog {
  position: relative;
}

.blog .container {
  overflow: hidden;
  height: 260px;
  position: relative;
}

.blog .blog-item {
  width: 585px;
}

.blog ul {
  width: 500%;
  position: absolute;
  left: -585px;
}

.blog .blog-img {
  overflow: hidden;
  position: relative;
  width: 262px;
  height: 260px;
}

.blog .blog-img::before, .blog .blog-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 262px;
  height: 260px;
  left: -262px;
  top: -260px;
  background-color: rgba(226, 33, 75, 0.25);
  transition: all 0.5s;
}

.blog .blog-img::before {
  transition: all 0.3s;
}

.blog .blog-img:hover:before {
  left: 0;
  top: 0;
}

.blog .blog-img:hover:after {
  left: 0;
  top: 0;
}

.blog .blog-info {
  margin-left: 15px;
  padding: 0 20px;
  box-sizing: border-box;
  width: 50%;
}

.blog .blog-info .date {
  color: #9b9b9c;
  font-size: 12px;
  margin-bottom: 12px;
}

.blog .blog-info h2 {
  color: #272727;
  margin-bottom: 20px;
}

.blog .blog-info .text {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.blog .blog-info span {
  color: #9b9b9c;
  font-size: 14px;
}

.blog .blog-info a {
  line-height: 30px;
  transition: all 0.5s;
  color: #9b9b9c;
  font-weight: bold;
  font-size: 15px;
}

.blog .blog-info a:hover {
  color: #e2214b;
}

.blog .blog-control {
  position: absolute;
  top: 55%;
  width: 100%;
}

.blog .blog-control button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

.blog .blog-control .next {
  float: right;
  margin-right: 160px;
}

.blog .blog-control .prev {
  float: left;
  margin-left: 160px;
}

.blog .blog-control i {
  font-size: 30px;
  color: #9b9b9c;
}

.blog .blog-control .icon-right {
  font-size: 32px;
}